.newsAll__mainBlock{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.newsAll {
    margin-right: 400px;
    margin-left: 400px;
    
    
}
.newsAll__title{
    margin-top: -95px;
    text-align: left;
    font-size: 60px;
    color: #333D51;
}
.newsAll__title-2{
    display: flex;
}
.newsAll__title-blue{
    color: blue;
}
.NewsAll__block{
    padding-left: 20px;
    height: 290px;
    width: 350px;
}
.NewsAll__block-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.NewsAll__block-title{
    font-size: 25px;
    color:#333D51;
    border-left: 2px solid #004FEC;
}
.NewsAll__author{
    font-size: 20px;
    color:#333D51;
}
.NewsAll__published{
    font-size: 30px;
    color:#333D51;
}


